body{
    overflow-x: hidden;
    background-color: #03000F;
}

/*#animated-line {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #8CED05;
    transition: width 0.5s ease-out;
    z-index: 1000;
}*/
