#starterHeader{
    position: relative;
    color: #F1F1F1;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    left: 10px;
}

header {
    /*background: lightblue;*/
    width: 100vw;
    position: fixed;
    top: 0;
}
/*#header-logo {*/
/*    display: flex;*/
/*}*/
header>nav {
    height: fit-content;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 0;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #F1F1F1;
    text-decoration: none;
}
header>nav>ul {
    list-style: none;
    margin: 0px;
}
header>nav>ul>li {
    padding: 0px 10px;
    display: inline;
}
header>nav>ul>li>a {
    color: #F1F1F1;
    text-decoration: none;
}

/*#navbar{*/
/*    position: absolute;*/
/*    width: 50%;*/
/*    left: 56%;*/
/*    bottom: 650px;*/

/*}*/

/*#navbar>a{*/
/*    position: relative;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-weight: normal;*/
/*    font-size: 18px;*/
/*    color: #F1F1F1;*/
/*    text-decoration: none;*/
/*    padding-left: 1rem;*/
/*    transition: all ease-in 0.4s;*/
/*    cursor: pointer;*/
/*}*/


/*#navbar > a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0.2rem;
    background: linear-gradient(90deg, #8CED05 0%, rgba(142, 183, 83, 0.86) 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    left: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}*/

/*#navbar > a:hover::before,
#navbar > a.active::before {
    width: 100%;
    opacity: 1;
}*/


