        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins', sans-serif;
            scroll-behavior: smooth;
            list-style-type: none;
            text-decoration: none;
            /*background-color: #09012c;*/
            background-color: #0b0326;
            /*overflow-x: hidden !important;*/
            /*background-color: #03000F;*/
            /*overflow-x: hidden;*/

        }

        html {
            overflow-x: hidden;
        }

        section, div, img {
            max-width: 100%;
        }

        section {
            scroll-margin-top: 100px;
        }


        #hamburger{
            display: none;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            border-bottom: 1px solid transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px 10%;
        }

        header.sticky {
            background: whitesmoke;
            border-bottom: 1px solid whitesmoke;
            padding: 12px 10%;
        }

        .logo {
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .logo a {
            text-decoration: none;
            color: #8CED05;
        }

        span {
            color: white;
        }

        .navList {
            display: flex;
        }

        #icon {
            font-size: 2.5rem;
            margin-left: 40px;
            cursor: pointer;
        }

        .hamburger {
            display: none;
            font-size: 2rem;
            cursor: pointer;
            color: #8CED05;
        }

        .navList a {
            display: inline-block;
            color: whitesmoke;
            font-weight: 500;
            padding: 10px 20px;
            font-size: 1.2rem;
            animation: slideAnimation 1s ease forwards;
            /*animation-delay: calc(.3s * var(--i));*/
            opacity: 0;
        }

        @keyframes slideAnimation {
            0% {
                opacity: 0;
                transform: translateY(100px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /*<!--hero section-->*/
        #HeroStarter {
            position: relative;
            font-family: "Inter", sans-serif;
            font-size: 120px;
            color: #8CED05;
            margin-top: 16%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            display: inline-block;
            width: 100%;
            height: 200px;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            animation: typing 7s ease-in-out infinite;
        }

        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        #HeroPara{
            position: relative;
            font-family: "Inter", sans-serif;
            font-size: 32px;
            font-weight: bold;
            color: #F1F1F1;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 1%;
        }

        #HeroPara2{
            display: none;
        }

        #HeroPara3{
            display: none ;
        }

        #HeroPicture {
            display: none;
            left: auto;
            right: auto;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            border: 5px solid #8CED05;
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            animation: subtleHeartbeat 10s infinite;
        }

        #imagefitHero {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        #middleLineHero{
            display: none;
            position: absolute;
            top: 55%;
            width: 100%;
            height: 2px;
            background-color: #8CED05;
        }

        /*about section*/
        #aboutStarter {
            position: relative;
            color: #8CED05;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 30px;
            margin-top: 250px;
            margin-left: 700px;
        }


        #bold-text {
            color: #F1F1F1;
            font-weight: bold;
            display: inline-block;
            animation: shake 4s ease-in-out infinite;
        }

        @keyframes shake {
            0% { transform: translateX(0); }
            25% { transform: translateX(-5px); }
            50% { transform: translateX(5px); }
            75% { transform: translateX(-5px); }
            100% { transform: translateX(0); }
        }

        #aboutPicture {
            margin-top: 80px;
            margin-left: 200px;
            border-radius: 0px 15px 0px 15px;
            width: 400px;
            height: 500px;
            border: 2px solid #8CED05;
            box-shadow: 0 0 10px #413e3e;
            overflow: hidden;
        }

        #aboutPicture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #aboutParagraph{
            position: absolute;
            font-family: "Inter", sans-serif;
            color: #F1F1F1;
            font-size: 30px;
            letter-spacing: 1px;
            width: 40% ;
            margin-top: -490px;
            margin-left: 700px;
        }




        /*education section*/
        #educationStarter {
            position: relative;
            color: #8CED05;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 30px;
            margin-top: 100px;
            margin-left: 480px;
            align-items: center;
        }

        #educationStarterDown{
            position: relative;
            color: #F1F1F1;
            font-family: "Roboto", sans-serif !important;
            font-size: 18px;
            margin-left: 630px;
            margin-top: 20px;
        }

        .educationTopic {
            color: #F1F1F1;
            font-weight: lighter;
        }

        .bounce {
            display: inline-block;
            animation: bounce 3s infinite;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-6px);
            }
            60% {
                transform: translateY(-1px);
            }
        }


        #containerEdu {
            display: flex;
        }

        .EducationContainer {
            position: relative;
            color: #F1F1F1;
            border: 2px solid #413e3e;
            width: 20%;
            height: 500px;
            border-radius: 20px 0px 20px 0px;
            margin-top: 5%;
            margin-left: 10%;
            transition: transform 1s ease, border-color 0.3s ease;
        }

        .EducationContainer:hover {
            transform: scale(1.05);
            border-color: #6b6b6b;
            border-radius: 0px 20px 0px 20px;
        }

        .uniNameEdu{
            position: relative;
            color: #8CED05;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 22px;
            margin-top: 80px;
            margin-left: 18px;
        }

        .uniMajorCat{
            color: #F1F1F1;
        }

        .uniMajorEdu{
            position: absolute;
            color: #8CED05;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
            margin-left: 18px;
        }

        .uniDescEdu{
            position: absolute;
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 17px;
            margin-top: 60px;
            margin-left: 18px;
            letter-spacing: 1px;

        }

        /*project section*/

        #projectStarter {
            position: relative;
            font-family: "Inter", sans-serif;
            font-size: 30px;
            color: #8CED05;
            margin-top: 8%;
            left: 38%;
        }

        .slider-container {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            overflow: hidden;
        }

        .slider {
            display: flex;
            gap: 20px;
            transition: transform 0.4s ease-in-out;
        }


        .project-card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px;
            min-width: 280px;
            max-width: 300px;
            text-align: center;
            flex-shrink: 0;
            perspective: 1000px;
            transition: transform 0.5s ease, box-shadow 0.5s ease;
            position: relative;
        }

        .project-card:hover {
            transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        }


        .project-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }


        .tech-label {
            background-color: #8ced05;
            color: #0b0326;
            padding: 5px 10px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 15px;
            transition: background-color 0.3s ease;
        }

        .project-card:hover .tech-label {
            background-color: #7bda05;
        }

        .project-title {
            background-color: transparent;
            font-size: 1.4rem;
            margin-bottom: 10px;
            color: #0b0326;
            transition: color 0.3s ease;
        }

        .project-description {
            background-color: transparent;
            color: #666;
            font-size: 0.9rem;
            transition: color 0.3s ease;
        }

        .project-card:hover .tech-label,
        .project-card:hover .project-title,
        .project-card:hover .project-description,
        .project-card:hover .project-image {
            filter: blur(5px);
            transition: filter 0.3s ease;

        }

        .project-link {
            display: none !important;
        }

        .project-card:hover .project-link {
            display: block !important;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            z-index: 10;
            color: #0b0326;
            text-decoration: none;
            transition: opacity 0.3s ease;
        }


        .dots-container {
            text-align: center;
            margin-top: 20px;
        }

        .dot {
            height: 15px;
            width: 15px;
            background-color: #ccc;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .dot.active {
            background-color: #8ced05;
        }


        .slider-container {
            overflow: hidden;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }





        #skillsStarter{
            position: relative;
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 30px;
            margin-top: 10px;
            margin-left: 480px;
            align-items: center;
        }

        #skills-section {
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-size: 30px;
            margin-top: 2%;
            margin-left: 10%;
            width: 80%;
            padding: 50px 20px;
            background-color: transparent;
        }

        .skills-container {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .skill-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
        }

        .skill-item::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -50px;
            width: 80px;
            height: 2px;
            background-color: transparent;
            z-index: -1;
        }

        .skill-item:last-child::after {
            display: none;
        }

        .circle {
            width: 120px;
            height: 120px;
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-family: Arial, sans-serif;
            font-size: 1.2rem;
            color: #333;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .circle span {
            background-color: transparent;
            font-size: 2.5rem;
            font-weight: bold;
        }

        .circle p {
            background-color: transparent;
            margin-top: 5px;
        }


        .skill-content {
            margin-top: 20px;
        }

        .skill-content h4 {
            font-size: 1.1rem;
            color: #F1F1F1;
            background-color: transparent;
        }

        .skill-content p {
            font-size: 0.9rem;
            color: #666;
            max-width: 200px;
        }

        .skill-content i {
            font-size: 2.5rem;
            color: #333;
            margin-top: 10px;
        }


        .skill-item:nth-child(1) .circle {
            background-color: rgba(252, 205, 205, 0.6);
        }

        .skill-item:nth-child(2) .circle {
            background-color: rgba(252, 205, 174, 0.6);
        }

        .skill-item:nth-child(3) .circle {
            background-color: rgba(179, 205, 252, 0.6);
        }

        .skill-item:nth-child(4) .circle {
            background-color: rgba(179, 205, 205, 0.6);
        }

        .skill-content>i{
            cursor: pointer;
            color: #413e3e;
        }

        .html:hover{
            color: #DD4B25;
            transition: color 0.6s ease-in-out;
        }

        .css:hover{
            color: #2862E9;
            transition: color 0.6s ease-in-out;
        }

        .jvs:hover{
            color: #F7E025;
            transition: color 0.6s ease-in-out;
        }
        .java:hover{
            color: #DD4B25;
            transition: color 0.6s ease-in-out;
        }

        @media (max-width: 768px) {
            .skills-container {
                flex-direction: column;
                gap: 40px;
            }

            .skill-item::after {
                display: none;
            }
        }


        #assignmentStarter {
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-size: 30px;
            text-align: center;
            margin-top: 50px;
        }


        .assignments-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            padding: 20px;
            justify-items: center;
        }

        .assignment-card {
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 300px;
            perspective: 1000px;
            margin-bottom: 20px;
            transition: transform 0.3s ease-in-out;
        }

        .assignment-card:hover {
            transform: scale(1.05);
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            border: none;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }

        .icon-assignment {
            font-size: 50px;
            color: #fff;
            margin-bottom: 10px;
            background-color: transparent;
        }
        .icon-back {
            font-size: 20px;
            color: #F1F1F1;
            margin-top: 20px;
            background-color: transparent;
        }


        .assignment-card:hover .card-inner {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

        .card-front {
            /*background: linear-gradient(110deg, #8ced05, rgba(177, 224, 178, 0.58));*/
            background-color: transparent;
            border: 1px solid #F1F1F1;
        }

        .card-back {
            /*background-color: rgba(241, 241, 241, 0.44);*/
            background-color: transparent;
            border: 1px solid #F1F1F1;

            transform: rotateY(180deg);
            color: #f1f1f1;
            padding: 20px;
        }

        .Title-Assignment {
            font-family: "Inter", sans-serif;
            font-size: 40px;
            color: #8ced05;
            background-color: transparent;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .Description-Assignment {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            color: #f1f1f1;
            text-align: center;
            padding: 10px;
            background-color: transparent;
            transition: all 0.3s ease;
        }

        .link-Assignment {
            margin-top: 10px;
            color: #8ced05;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
            padding: 8px 16px;
            border: 2px solid #8ced05;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .link-Assignment:hover {
            background-color: #8ced05;
            color: #03000f;
        }



        /*contact me*/
        #contactMeStarter {
            position: relative;
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 30px;
            margin-top: 50px;
            margin-left: 650px;
            align-items: center;
        }

        #contactMeForm{
            position: relative;
            width: 70%;
            height: 620px;
            top: 70px;
            left: 15%;
            border-radius: 30px;
        }

        #name-Contactme{
            /*textcolor*/
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
            width: 90%;
            margin-left: 5%;
            height: 60px;
            padding: 10px;
            margin-bottom: 20px;
        }

        #email-Contactme{
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
            width: 90%;
            margin-left: 5%;
            height: 60px;
            padding: 10px;
            margin-bottom: 20px;
        }

        #contactMeForm textarea {
            color: #F1F1F1;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            position: relative;
            top: 20px;
            width: 90%;
            left: 5%;
            height: 300px;
            padding: 10px;
            margin-bottom: 20px;
        }



        #gallery {
            padding: 50px 5%;
            background-color: #0b0326;
        }

        #galleryStarter {
            position: relative;
            color: #8ced05;
            font-family: "Inter", sans-serif;
            font-weight: normal;
            font-size: 30px;
            text-align: center;
            margin-bottom: 40px;
        }



        .gallery-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 10px;
        }

        .gallery-item {
            position: relative;
            overflow: hidden;
        }

        .gallery-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
        }


        .gallery-item:hover img {
            transform: scale(1.1);
        }


        .wide {
            grid-column: span 1;
        }

        .tall {
            grid-row: span 2;
        }


        .gallery-item:focus img,
        .gallery-item:focus-visible img {
            outline: none;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }




        #contact-submit{
            background-color: #F1F1F1;
            color: #03000F;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
            width: 20%;
            margin-left: 40%;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
        }


        footer{
            margin-top: 100px;
            background: #F1F1F1;
            padding: 1.5rem 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        footer p{
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 20px;
            background-color: transparent;
            color: #03000F;
        }

        footer a{
            display: inline-flex;
            justify-content: center;
            padding: .6rem;
            border-radius: 5px;
        }


